@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(0, 0, 0, 0.687);    
    background-image: url('fondo.jpg');
     /* Centrar la imagen en el elemento */
     /* Evitar que la imagen se repita */
    
}
.letras-neon{
    font-size: 10px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: rgb(75,217,222); /* Color del texto */
    text-shadow: 0 0 10px rgba(75, 217, 222, 0.778), 0 0 20px rgba(75, 217, 222, 0.63), 0 0 30px rgba(75, 217, 222, 0.395), 0 0 40px rgba(75, 217, 222, 0.464), 0 0 50px rgba(75, 217, 222, 0.227), 0 0 60px rgba(75, 217, 222, 0.464), 0 0 70px rgba(75, 217, 222, 0.523); 
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.container-login{
    margin-left:450px ;
    margin-top:50px ;
    height: 100vh;
    display: flex;
    border-radius:5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 550px;
    border: 2px rgba(75, 217, 222, 0.752) solid;
    
    background-color: rgba(0, 0, 0, 0.666);    
}
.container{
    display: grid;
    margin-top: 10px;
}
input{
    background-color: rgba(0, 0, 0, 0.423);
    border: none;
    width: 300px;
    height: 20px;
    font-family: 'Space Mono', monospace;
    font-size: 10px;
    color: rgb(180, 180, 180);
    caret-color: rgb(35, 115, 118);
    width: 350px; 
    height: 25px;
    padding: 2px;
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 1px solid black;
}
input[type="submit"]{
    color: rgb(75,217,222); /* Color del texto */
    text-shadow: 0 0 10px rgba(75, 217, 222, 0.435), 0 0 20px rgba(75, 217, 222, 0.306), 0 0 30px rgba(75, 217, 222, 0.395), 0 0 40px rgba(75, 217, 222, 0.464), 0 0 50px rgba(75, 217, 222, 0.227), 0 0 60px rgba(75, 217, 222, 0.464), 0 0 70px rgba(75, 217, 222, 0.523); 
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: rgb(75,217,222) 1px solid;
    border-radius: 0px;
    margin: 10px;
    height: 40px;
    margin-top: 50px;
}

input[type="submit"]:hover{
    background-color: rgba(75, 217, 222, 0.555);  
    border: black;
    color: black;
    transition: 2s;    
}
img{
    height: 200px;
    margin-bottom: 25px;

}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}